<section class="about-area2 testimonial-area section-padding30 align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class=" col-lg-6 col-md-12 col-sm-9">
                <div class="about-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-55 text-center">
                        <h2>Ce que nos Clients pensent de nous !</h2>
                    </div>
                    <!-- Testimonial Start -->
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        {% for avis in entreprise.avisClient %}
                        <div class="single-testimonial">
                            <div class="testimonial-caption">
                                {{ avis.avis | raw}}
                                <div class="rattiong-caption">
                                    <span>{{ avis.nomRepresentant }}<span>{{ avis.fonctionRepresentant}}</span> </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Single Testimonial -->
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-11 text-center">
                <!-- about-images -->
                <div class="about-img2">
                    <img src="{{ asset('build/images/gallery/about2.png')}}" alt="Ce que nos Clients pensent de nous">
                </div>
            </div>
        </div>
    </div>
</section>