<div class="latest-wrapper">
    <div class="container">
        <div class="latest-area latest-height  section-bg2" data-background="{{ asset('build/images/gallery/section_bg01.png')}}">
            <div class="row  align-items-center justify-content-between">
                <div class="col-xl-12 col-lg-12">
                    <div class="latest-caption">
                        <h2>
                            Universcom c'est également une équipe jeune, dynamique et smart, réunie par 
                            la même envie de bouleverser les codes et de dynamiser votre environnement digital.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>