<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg">
        <div class="container">
            <!-- Brand Area Start -->
            <div class="brand-area pt-25 pb-30">
                <div class="container">
                    <div class="brand-active brand-border pt-50 pb-40">
                        {% for c in entreprise.avisClient %}
                            {% if c.logo != null %}
                                <div class="single-brand">
                                    <img src="{{ entreprise.baseUrlAdmin }}upload//images/client/{{ c.logo }}"  width="50" alt="">
                                </div>
                            {% endif %}
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- Brand Area End -->
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="{{ url('app_home') }}"><img src="{{ asset('build/images/logo/logo.svg')}}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">
                                        {{ entreprise.getAdresse }}</p>
                                </div>
                            </div>
                            <div class="footer-number">
                                <p class="p-num"><span>+221 </span> {{ entreprise.getPhoneNumber }}</p>
                                <p> {{ entreprise.getMailContact }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <p class="p-title">Qui Sommes Nous</p>
                                <ul>
                                    <li><a href="{{ url('app_about') }}">Presentation</a></li>
                                    <li><a href="{{ url('app_carrer') }}">Carrière</a></li>
                                    <li><a href="{{ url('app_blog') }}">Blog</a></li>
                                    <li><a href="{{ url('app_contact') }}">Nous Contacter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <p class="p-title">Services</p>
                                <ul>
                                    <li><a href="{{ url('app_marketing') }}">Marketing Digital</a></li>
                                    <li><a href="{{ url('app_tele_service') }}">Téléservices</a></li>
                                    <li><a href="{{ url('app_dev') }}">Développement</a></li>
                                    <li><a href="{{ url('app_design') }}">Conception Graphique</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" id="newsletter-form-post">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <p class="p-title">Newsletter</p>
                                <div class="footer-pera">
                                    <p class="info1">Inscrivez-vous maintenant  à notre newsletter pour recevoir toutes nos offres</p>
                                </div>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    {% for message in app.flashes('newsletter') %}
                                        <div class="alert alert-info alert-dismissible fade show">
                                            {{ message }}

                                        </div>
                                    {% endfor %}
                                    <form  action="{{ url("app_new_letter") }}" method="post">
                                        <input type="email" name="email_newsletter" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                        <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
                                        <div class="form-icon">
                                            <button  type="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Envoyer
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right">

                            <p>Copyright &copy; {{ 'now' | date('Y') }} UniversCom  | Designed by UniversCom</p>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <a href="https://twitter.com/universcom20" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/universcomservices" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/company/universcom/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
