<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <div class="container-fluid">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex">
                                <ul>
                                    <li>Nous appeller : +221 {{ entreprise.getPhoneNumber }}</li>
                                    <li>{{ entreprise.getMailContact }} </li>
                                </ul>
                                <div class="header-social">
                                    <ul>
                                        <li><a href="https://twitter.com/universcom20" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a  href="https://www.facebook.com/universcomservices" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/universcom/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="{{ url('app_home') }}"><img src="{{ asset('build/images/logo/logo.svg') }}" width="250" alt="Logo Universcom"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">

                                            <li> <a  {% if app.request.get('_route') == 'app_home' %} class="active"{% endif %} href="{{ url('app_home') }}"
                                                >Accueil</a>
                                            </li>
                                            <li>
                                                <a {% if app.request.get('_route') == 'app_about' %} class="active"{% endif %} href="{{ url('app_about') }}">Présentation</a>
                                            </li>

                                            <li><a {% if app.request.get('_route') == 'app_marketing' or
                                                    app.request.get('_route') == 'app_tele_service'  or
                                                    app.request.get('_route') == 'app_dev' or
                                                    app.request.get('_route') == 'app_design'

                                                %} class="active"{% endif %}>Services <i class="fa fa-caret-down"></i> </a>
                                               <ul class="submenu">
                                                   <li><a href="{{ url('app_marketing') }}">Marketing Digital</a></li>
                                                   <li><a href="{{ url('app_tele_service') }}">Téléservices</a></li>
                                                   <li><a href="{{ url('app_dev') }}">Développement Web/Mobile</a></li>
                                                   <li><a href="{{ url('app_design') }}">Conception Graphique</a></li>
                                               </ul>
                                           </li>

                                            <li><a {% if app.request.get('_route') == 'app_carrer' %} class="active"{% endif %} href="{{ url('app_carrer') }}">Carrière</a></li>
                                            <li><a {% if app.request.get('_route') == 'app_blog' %} class="active"{% endif %} href="{{ url('app_blog') }}">Blog</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-right-btn d-none d-lg-block ml-30">
                                    <a {% if app.request.get('_route') == 'app_contact' %} class="active"{% endif %} href="{{ url('app_contact') }}" class="btn header-btn">Nous Contacter</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>