<!--? About 1 Start-->
{% if entreprise.teams | length > 0  %}
<section class="about-low-area section-padding2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12">
               <div class="section-tittle mb-20">
                    <span>Univercom</span>
                    <h2>Notre équipe</h2>
                    <p>
                        Confiez votre e-réputation à une génération de digital natives. <br>
                        Nous sommes l’agence qu’il vous faut !
                    </p>
                </div>
            </div>
            {% for team in entreprise.teams %}
            <div class="col-lg-3 col-md-12 col-sm-6 mt-5">
                <div class="our-team">
                    <img src="{{ entreprise.baseUrlSite  }}upload//images/teams/{{ team.images }}" alt="{{ team.poste }}">
                    <div class="team-content">
                        <h3 class="title">{{ team.nomComplet }}</h3>
                        <span class="post">{{ team.poste }}</span>
                        <ul class="social">
                            <li><a href="{{ team.linkedin }}" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endif %}