{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" name="description" content="Construisons avec vous la stratégie globale gagnante ! Universcom est l’agence de marketing web tout-en-un qui vous accompagne dans votre transformation digitale.">
{% endblock %}

{% block title %} Universcom - Un accompagnement futuriste dans l'IT{% endblock %}

{% block body %}

    <main>
        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                <div class="hero__caption">
                                    <div class="slide-img">
                                        <img src="{{ asset('build/images/hero/hero-1.png')}}" width="100%" alt="Agence de communication digitale et téléservices">
                                    </div>
                                    <h1 data-animation="fadeInUp" data-delay=".4s">UniversCom, <br> pour une vision futuriste.</h1>
                                    <P data-animation="fadeInUp" data-delay=".6s" >
                                        Vous êtes porteur de projet ou chef d’entreprise désireux de se faire accompagner dans sa
                                        transformation digitale ? Construisons avec vous la stratégie globale gagnante.
                                    </P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{{ url('app_devis') }}" class="btn hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Parlons-en !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? About 1 Start-->
        <section class="about-low-area section-padding2">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <!-- about-images -->
                        <div class="about-img">
                            <img src="{{ asset('build/images/hero/uc.svg')}}" width="100%" alt="Agence de communication digitale et téléservices">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">

                                <span>Universcom</span>
                                <h2>Qui sommes nous</h2>
                               <p>
                                   Notre ambition à accompagner les porteurs de projets sur les nombreuses
                                   problématiques du monde numérique donne naissance à Universcom, une agence
                                   digitale et téléservices qui fait de l’expérience client le centre de son métier.

                                <br>

                                   Nous vous plongeons dans un univers de communication innovant avec un
                                   accompagnement de choix dans les métiers des nouvelles technologies, du digital et
                                   du design
                               </p>

                            </div>

                        </div>
                        <a href="{{ path('app_about') }}" class="btn">En savoir plus</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- About  End-->
        <!--? service Area Start -->
        <section class="service-area pb-bottom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-6 col-md-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-50 mt-100">
                            <h2 class="mb-35">Nos Services.</h2>
                            <p>
                                L'agence de communication digitale et téléservices Universcom vous accompagne 
                                tout au long de votre projet. De l’idée à la concrétisation, nous mettons en place avec vous, 
                                selon vos besoins, les pratiques gagnantes pour votre activité en ligne. Située à Mbour et 
                                présente aussi à Dakar, l'agence digitale Universcom réunit une équipe dotée d'une solide 
                                expertise dans les métiers du numérique pour répondre à vos besoins dans la création de site web, 
                                la confection graphique, la mise en place d'une stratégie SEO, la gestion de la relation client... <br>
                                La meilleure agence digitale au Sénégal, Universcom regroupe en son sein des services Tout en 
                                Un qui vont vous permettre d’optimiser votre budget et de faire « grow up » vos affaires en ligne.
                            </p>
                            <a href="{{ path('app_about',{"_fragment" : "service-universcom"}) }}" class="btn  mt-30">Plus de détails</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row mt-100">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null"></i>
                                    <p>Marketing Digital</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null-2"></i>
                                    <p>Développement Web/Mobile</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null-1"></i>
                                    <p>Téléservices</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null-3"></i>
                                    <p>Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service Area End -->

        <!-- Latest Offers Start -->
       {% include('commun/block_dispo.html.twig') %}
        <!-- Latest Offers End -->
        <!--? About-2 Area Start -->
        {% include('commun/block_avis_client.html.twig') %}
        <!-- About-2 Area End -->
        <!--? Blog Area Start
        <section class="home-blog-area section-padding30">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-10">
                        <div class="section-tittle text-center mb-90">
                            <span>Our pricing plan for you</span>
                            <h2>No hidden charges! choose your plan wisely.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-images-cap">
                                <div class="blog-images">
                                    <images src="{{ asset('build/images/gallery/home-blog1')}}.png" alt="">
                                </div>
                                <div class="blog-cap">
                                    <h3><a href="blog_details.html">The purpose of lolght invera jgrlie.</a></h3>
                                    <p>January 22, 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-images-cap">
                                <div class="blog-images">
                                    <images src="{{ asset('build/images/gallery/home-blog2')}}.png" alt="">
                                </div>
                                <div class="blog-cap">
                                    <h3><a href="blog_details.html">The purpose of lolght invera jgrlie.</a></h3>
                                    <p>January 22, 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-images-cap">
                                <div class="blog-images">
                                    <images src="{{ asset('build/images/gallery/home-blog3')}}.png" alt="">
                                </div>
                                <div class="blog-cap">
                                    <h3><a href="blog_details.html">The purpose of lolght invera jgrlie.</a></h3>
                                    <p>January 22, 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        Blog Area End -->
    </main>





{% endblock %}
