{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" name="description" content="Vous avez besoin d’aide pour atteindre une audience plus large ? Vous voulez vous faire remarquer ? Vous voulez mettre en avant un produit ou service ? Universcom est l’agence digitale qu’il vous faut.">
{% endblock %}

{% block title %} Universcom - Agence de communication digitale et téléservices {% endblock %}

{% block body %}

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-50 text-center">
                            <h1 data-animation="fadeInUp" data-delay=".4s">
                                Une agence digitale et téléservices qui fait de l’expérience client le centre de son métier.
                            </h1>
                            <div class="about-img">
                                <img src="{{ asset('build/images/hero/hero-company.png') }}" width="100%"  alt="Gestionnaire de mission à universcom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? About 1 Start-->
        <section class="about-low-area section-padding2">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img mt-5">
                            <img src="{{ asset('build/images/gallery/about1.png') }}" alt="DSI de Universcom">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-20">
                                <span></span>
                                <h2>Notre mission</h2>
                            </div>
                            <p>
                                Vous avez besoin d’aide pour atteindre une audience plus large ? Vous voulez vous faire remarquer ? Vous voulez mettre en avant un produit ou service ? Avec la pléthore de plateformes web, les milliards de sites qui jonchent internet, l’étouffement des stores d’applications, il devient de plus en plus dur de se démarquer. Toutefois, avec les bonnes techniques, les bons outils et une équipe de passionnés, vous pouvez tout à fait vous faire valoir.
                                <br> Universcom est là pour vous aider à tirer votre épingle du jeu. Construisons avec vous la stratégie globale gagnante pour votre projet. Nous vous plongeons dans un univers de communication innovant avec un accompagnement de choix dans les métiers des nouvelles technologies, du digital et du design.
                                <br> Léguez-nous votre projet. Nous allons veiller à vous maintenir à jour dans un marché rudement concurrentiel.
                            </p>
                        </div>
                        <a href="{{ url('app_contact') }}" class="btn">Discutons</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- About  End-->

        <!--? service Area Start -->
        <section class="service-area section-padding30" id="service-universcom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-12 col-md-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-50">
                            <h2 class="mb-35">Nos Services</h2>
                            <p>
                                Aucune présence en ligne ? Pas de panique ! Universcom, l’agence digitale et téléservices créative vous accompagne tout au long de votre projet. De l’idée à la concrétisation, nous mettons en place avec vous, selon vos besoins, la stratégie gagnante qui va vous permettre de sortir du lot.
                                
                                <br> <br> Nous vous plongeons dans un univers de communication innovant avec un accompagnement de choix dans les métiers des nouvelles technologies, du digital et du design. Ici les experts qu’il vous faut pour marquer votre empreinte sur les canaux de communication digitale les plus adaptés à votre image.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-50">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null"></i>
                                    <p>Marketing Digital</p>
                                    <p>
                                        <small>
                                            Aucune présence en ligne ? Pas de panique.
                                            Ici les experts qu’il vous faut pour marquer votre empreinte sur
                                            les canaux internet les plus adaptés à votre image.
                                        </small>
                                    </p>
                                    <a href="{{ url('app_marketing') }}" class="btn  mt-30">Lire Plus</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null-1"></i>
                                    <p>Téléservices</p>
                                    <p>
                                        <small>
                                            Nous faisons de votre entreprise, une organisation customer centric,
                                            qui bâtit toute sa stratégie autour de la satisfaction client, avec
                                            des conseillers dynamiques et rigoureux.
                                        </small>
                                    </p>
                                    <a href="{{ url('app_tele_service') }}" class="btn  mt-30">Lire Plus</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null-2"></i>
                                    <p>Développement Web/Mobile</p>
                                    <p>
                                        <small>
                                            Nous nous engageons à vous proposer les meilleurs outils web, mobiles
                                            et applicatifs afin de vous permettre de développer votre activité de
                                            manière intelligente. <br><br>
                                        </small>
                                    </p>
                                    <a href="{{ url('app_dev') }}" class="btn  mt-30">Lire Plus</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <i class="flaticon-null-3"></i>
                                    <p>Design</p>
                                    <p>
                                        <small>
                                            Besoin de s’illustrer, de s’affirmer de montrer le meilleur de sa marque, nos designers vous donnent accès à des supports de communication visuelle intuitifs qui vont égayer votre public à coup sûr.
                                        </small>
                                    </p>
                                    <a href="{{ url('app_design') }}" class="btn  mt-30">Lire Plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service Area End -->



        <!-- Latest Offers Start -->
        {% include('commun/block_dispo.html.twig') %}
        <!-- Latest Offers End -->

        <!-- Latest Offers Start -->
        {% include('commun/team.html.twig') %}

        <!--? About-2 Area Start -->
       {% include'commun/block_avis_client.html.twig' %}
        <!-- About-2 Area End -->



{% endblock %}