{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <main>
        <!--? About-2 Area Start -->
        <section class="about-area2 testimonial-area section-padding30 fix blog-slide">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="about-caption">
                            <!-- Testimonial Start -->
                            <div class="h1-testimonial-active">
                                {% for blog in dataBlog %}
                                <!-- Single Testimonial -->
                                    <div class="single-testimonial">

                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="section-tittle mb-20">

                                                    <h2>{{ blog.title}} </h2>

                                                </div>
                                                <div class="testimonial-caption">
                                                    <p>{{  blog.description }}</p>
                                                    <div class="rattiong-caption">
                                                        <ul class="blog-info-link">
{#                                                            <li><a href="#"><i class="fa fa-calendar"></i> {{ blog["createAt"]["date"] | date }}</a></li>#}
                                                        </ul>
                                                    </div>
                                                    <a href="{{ url('app_blog_single',{"slug":blog.slug }) }}" class="btn-blog mt-20">Lire plus</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <img class="card-img rounded-0" src="{{ entreprise.baseUrlSite }}upload//images/blog/{{ blog.file }}" alt="{{ blog.title}}">
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                                <!-- Single Testimonial -->

                            </div>
                            <!-- Testimonial End -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->

        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container" style="margin-top: -20px;">
                <div class="row">
                    <div class="col-lg-12 mb-12 mb-lg-12 col-sm-12">
                        <h2 class="font-weight-bold spanborder"><span>Tous les Articles du blog</span></h2>
                    </div>
                    {% for blog in dataBlog %}
                    <div class="col-lg-4 mb-6 mb-lg-6 col-sm-12">
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <a href="{{ path('app_blog_single',{"slug":blog.slug }) }}">
                                        <img class="card-img" src="{{ entreprise.baseUrlSite  }}upload//images/blog/{{ blog.file }}" alt="{{ blog.title }}">
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="{{ path('app_blog_single',{"slug":blog.slug}) }}">
                                        <h2 class="blog-head"> {{ blog.title}}</h2>
                                    </a>
                                    <p>{{ blog.description}}</p>
                                    <ul class="blog-info-link">
                                        <li><a href="{{ path('app_blog_single',{"slug":blog.slug}) }}"><i class="fa fa-calendar"></i> {{ blog.createAt | date }}</a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>

                    {% endfor %}
                    <!--? Blog anciens-->
{#                    <div class="col-lg-12 mb-12 mb-lg-12 col-sm-12">#}
{#                        <h2 class="font-weight-bold spanborder"><span>Anciens blogs</span></h2>#}
{#                    </div>#}
{#                    <div class="col-lg-3 mb-6 mb-lg-6 col-sm-12">#}
{#                        <div class="blog_left_sidebar">#}
{#                            <article class="blog_item">#}
{#                                <div class="blog_item_img">#}
{#                                    <img class="card-img" src="{{ asset('build/images/blog/demo/blog8.jpg') }}" alt="">#}
{#                                </div>#}
{#                                <div class="blog_details">#}
{#                                    <a class="d-inline-block" href="blog_details.html">#}
{#                                        <h3 class="blog-head">Google inks pact for new 35-storey office</h3>#}
{#                                    </a>#}
{#                                    <ul class="blog-info-link">#}
{#                                        <li><a href="#"><i class="fa fa-calendar"></i> 12 Avril 2020 16:27</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </article>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 mb-6 mb-lg-6 col-sm-12">#}
{#                        <div class="blog_left_sidebar">#}
{#                            <article class="blog_item">#}
{#                                <div class="blog_item_img">#}
{#                                    <img class="card-img" src="{{ asset('build/images/blog/demo/1.jpg') }}" alt="">#}
{#                                </div>#}
{#                                <div class="blog_details">#}
{#                                    <a class="d-inline-block" href="blog_details.html">#}
{#                                        <h3 class="blog-head">Google inks pact for new 35-storey office</h3>#}
{#                                    </a>#}
{#                                    <ul class="blog-info-link">#}
{#                                        <li><a href="#"><i class="fa fa-calendar"></i> 12 Avril 2020 16:27</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </article>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 mb-6 mb-lg-6 col-sm-12">#}
{#                        <div class="blog_left_sidebar">#}
{#                            <article class="blog_item">#}
{#                                <div class="blog_item_img">#}
{#                                    <img class="card-img" src="{{ asset('build/images/blog/demo/5.jpg') }}" alt="">#}
{#                                </div>#}
{#                                <div class="blog_details">#}
{#                                    <a class="d-inline-block" href="blog_details.html">#}
{#                                        <h3 class="blog-head">Google inks pact for new 35-storey office</h3>#}
{#                                    </a>#}
{#                                    <ul class="blog-info-link">#}
{#                                        <li><a href="#"><i class="fa fa-calendar"></i> 12 Avril 2020 16:27</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </article>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 mb-6 mb-lg-6 col-sm-12">#}
{#                        <div class="blog_left_sidebar">#}
{#                            <article class="blog_item">#}
{#                                <div class="blog_item_img">#}
{#                                    <img class="card-img" src="{{ asset('build/images/blog/demo/5.jpg') }}" alt="">#}
{#                                </div>#}
{#                                <div class="blog_details">#}
{#                                    <a class="d-inline-block" href="blog_details.html">#}
{#                                        <h3 class="blog-head">Google inks pact for new 35-storey office</h3>#}
{#                                    </a>#}
{#                                    <ul class="blog-info-link">#}
{#                                        <li><a href="#"><i class="fa fa-calendar"></i> 12 Avril 2020 16:27</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </article>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>


{% endblock %}