{% extends 'base.html.twig' %}

{% block title %}{{ dataBlog.title }}{% endblock %}

{% block body %}

   <main>
      <!--? Blog Area Start -->
      <section class="blog_area single-post-area section-padding">

         <div class="container mt-50">
            <div class="row">

               <div class="col-lg-12 posts-list">
                  <div class="single-post">
                     <div class="feature-img">

                        <img class="img-fluid" src="{{ entreprise.baseUrlSite }}upload//images/blog/{{ dataBlog.file }}" width="100%" alt="{{ dataBlog.title }}">
                     </div>
                     <div class="blog_details">
                        <div class="section-tittle mb-20">
                            <h1 style="font-size: 55px;">{{ dataBlog.title }}</h1>
                        </div>

                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-calendar"></i> {{ dataBlog.createAt | date("Y-m-dd")}}</a></li>
                        </ul>
                        <div class="blog-content">
                           {{ dataBlog.description  }}
                           <br>
                           {{ dataBlog.content | raw}}
                        </div>
                        <br>
                     </div>
                  </div>
                  <div class="navigation-top list-icon">
                     <div class="d-sm-flex justify-content-between text-center">
                        <ul class="social-icons">
                           <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <img src="{{ asset('build/images/blog/demo/icon.png') }}" alt="">
                        <div class="media-body">
                               <a href="{{ author.urlLinkedin }}">
                              <p class="p-title">{{ author.nom  }} {{ author.prenom }}</p>
                           </a>
                           <p>{{  author.fonction }}</p>
                        </div>
                     </div>
                  </div>

                  <div class="comments-area" id="comment-form">

                     <p class="p-title"> {{ comment | length  }}  Commentaire(s)</p>

                     {% for c in comment %}
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="desc">
                                 <p class="comment">
                                  {{ c.comment}}
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h2>
                                            <a href="#">  {{ c.username }}<</a>
                                        </h2>
                                       <p class="date">{{ c.createAt | date("d-m-Y h:i")}} </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                    {% endfor %}

                     <div class="comment-form" >
                        {% for message in app.flashes('comment') %}
                           <div class="alert alert-info alert-dismissible fade show">
                              {{ message }}
                           </div>
                        {% endfor %}
                        <h4>Commentaire </h4>
                        <form class="form-contact comment_form" action="{{ path('app_post_commentaire')}}" method="post" id="commentForm">

                           <div class="row">
                              <div class="col-sm-6 col-md-12">
                                 <div class="form-group">
                                    <input class="form-control" required name="username" id="username" type="text" placeholder="Name">
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form-group">
                                    <textarea class="form-control w-100"  required name="comment" id="comment" cols="30" rows="9"
                                       placeholder="Votre Commentaire"></textarea>
                                 </div>
                              </div>
                              <input  name="slug" id="slug" type="hidden" value="{{ dataBlog.slug }}">
                              <input  name="id" id="id" type="hidden" value="{{ dataBlog.id }}">
                           </div>
                           <div class="form-group">
                              <button type="submit" class="btn">Valider</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Blog Area End -->
   </main>
{% endblock %}