{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" name="description" content="Trouvez votre prochain emploi chez Universcom. Ensemble, nous créons un accès à l'information et concevons des applications pour tous.">
{% endblock %}

{% block title %}Rejoindre l'équipe d'Universcom{% endblock %}

{% block body %}

    <main>
       <section class="about-area2 testimonial-area section-padding30 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class=" col-lg-6 col-md-12 col-sm-9">
                        <div class="about-caption mt-55">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-55">
                                <h2>Pour une vision <br/> Futuriste</h2>
                                <p>Trouvez votre prochain emploi chez Universcom. Ensemble, nous créons 
                                un accès à l'information et concevons des applications pour tous. <br/>
                                Vous voulez faire partir de l'équipe ?</p>
                            </div>
                            {% for message in app.flashes('noticeCarrier') %}
                                <div class="alert alert-info alert-dismissible fade show">
                                    {{ message }}

                                </div>
                            {% endfor %}
                            <form class="form-contact contact_form" action="{{ url('app_carrer_cv') }}" method="post" enctype="multipart/form-data" >
                                <div class="row">
                                    <div class="col-sm-6 col-md-12 ">
                                        <div class="form-group">
                                            <input class="form-control valid" name="name" id="name" type="text"  required placeholder="Nom Complet">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-12 ">
                                        <div class="form-group">
                                            <input class="form-control valid" name="telephone" id="telephone" type="number" required  placeholder="Telephone">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-12 ">
                                        <div class="form-group">
                                            <input class="form-control valid" name="email_contact" id="email" type="email" required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-control" name="poste" id="poste" type="text"  required placeholder="Titre Poste">
                                        </div>
                                    </div>
                                     <div class="col-12">
                                        <div class="form-group">
                                           <label for="file">Séléctionner votre CV</label>
                                           <input type="file" required name="file" id="file" class="inputfile" accept="application/pdf" />
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <button type="submit" class="btn">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-11 text-center">
                        <!-- about-images -->
                        <div class="about-img2">
                            <img src="{{ asset('build/images/hero/carree.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sectionJob">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto mb-4">
                        <div class="section-tittle mb-55 text-center">
                            <h2>Développez votre carrière <br> avec nous</h2>
                            <p>
                                UNIVERSCOM est une agence novatrice, qui favorise l’épanouissement et le bien-être de ses
                                employés.
                                <br>
                                Travailler chez nous, c'est participer à une aventure stimulante et entrepreneuriale.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="career-search mb-60">

                                <p class="mb-30 ff-montserrat">Nombre total d'offres d'emploi disponible : {{ dataOffres | length }}</p>

                                {% if dataOffres | length > 0 %}
                                    {% for offre in dataOffres %}
                                        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                                {{ offre.initiale}}
                                                </div>
                                                <div class="job-content">
                                                    <h5 class="text-center text-md-left">{{ offre.title}}</h5>
                                                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                        <li class="mr-md-4">
                                                            <i class="zmdi zmdi-pin mr-2"></i> {{ entreprise.adresse }}
                                                        </li>
                                                        <li class="mr-md-4">
                                                            <i class="zmdi zmdi-money mr-2"></i>
                                                        </li>
                                                        <li class="mr-md-4">
                                                            <i class="zmdi zmdi-time mr-2"></i>{{ offre.typeOffre.name }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="job-right my-4 flex-shrink-0">
                                                <a href="{{ url('app_carrer_single',{"slug":offre.slug }) }}" class="btn d-block w-100 d-sm-inline-block ">Description de l'offre</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ include('commun/block_avis_client.html.twig') }}
    </main>
{% endblock %}
