{% extends 'base.html.twig' %}

{% block title %}{{  dataOffre.title }}{% endblock %}

{% block body %}

    <main>
        <section class="blog_area single-post-area section-padding">
         <div class="container mt-50">
            <div class="row">
               <div class="col-lg-7 posts-list">
                  <div class="single-post">
                     <div class="blog_details">
                        <h1>
                           {{  dataOffre.title }}
                        </h1>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-calendar"></i> {{ dataOffre.createAt | date("d-m-Y") }}</a></li>
                           <li><a href="#"><i class="fa fa-check-square-o"></i>  {{ dataOffre.typeOffre.name }}</a></li>
                           <li><a href="#"><i class="fa fa-map-marker"></i> {{ entreprise.adresse }}</a></li>
                        </ul> <br>
                           {{ dataOffre.description | raw}}
                     </div>
                  </div>
               </div>
               <div class=" col-lg-4 posts-list">
                    <div class="single-post">
                        <div class="blog_details">
                            <div class="about-caption">
                                <!-- Section Tittle -->
                                <h2>Postuler pour ce poste</h2>
                                {% for message in app.flashes('noticeCarrier') %}
                                    <div class="alert alert-info alert-dismissible fade show">
                                        {{ message }}

                                    </div>
                                {% endfor %}

                                <form class="form-contact contact_form" action="{{ entreprise.baseUrlAdmin }}carrer-cv" method="post" enctype="multipart/form-data" >
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Nom complet">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid" name="telephone" id="telephone" type="number"  required placeholder="Telephone">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid" name="email_contact"  required id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="motivation" id="motivation"  required type="text"   placeholder="Motivation"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="file">Séléctionner votre CV</label>
                                                <input type="file"  required name="file" id="file" class="inputfile"  accept="application/pdf" />
                                            </div>
                                        </div>
                                        <input type="hidden" name="poste" id="poste" value="{{  dataOffre.title }}" />
                                        <input type="hidden" name="slug" id="slug" value="{{  dataOffre.slug }}" />
                                    </div>
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn">Postuler</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </section>
        {{ include('commun/block_avis_client.html.twig') }}
    </main>
{% endblock %}
