{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height1 d-flex align-items-center">

            </div>
        </div>
        <!-- Hero End -->
        <!-- Latest Offers Start -->
        <div class="latest-wrapper">
            <div class="container">
                <div class="latest-area latest-height  section-bg2" data-background="{{ asset('build/images/gallery/section_bg01.png') }}">
                    <div class="row  align-items-center justify-content-between">
                        <div class="col-xl-8 col-lg-7">
                            <div class="latest-caption">
                                <h2>Construisons avec vous la stratégie globale gagnante pour votre projet.</h2>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 mt-10">
                            <div class="row">
                                <div class="col-lg-4 mt-20">
                                   <div class="media contact-info">
                                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                                        <div class="media-body">
                                            <h3>{{ entreprise.getAdresse }}.</h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-20">
                                   <div class="media contact-info">
                                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                                        <div class="media-body">
                                            <h3>+221 {{ entreprise.getPhoneNumber }}</h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-20">
                                    <div class="media contact-info">
                                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                                        <div class="media-body">
                                            <h3>{{ entreprise.getMailContact }}</h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Latest Offers End -->

        <!--  Contact Area start  -->
        <section class="contact-section">
            <div class="container">
                {% for message in app.flashes('notice') %}
                       <div class="alert alert-info alert-dismissible fade show">
                              {{ message }}

                       </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Entrer en contact</h2>
                    </div>
                    <div class="col-lg-7">
                        <form class="form-contact contact_form" action="{{ path('app_contact_form')}}" method="post" >
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Entrer Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Entrer votre nom">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email_contact" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Entrer le sujet">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn">Envoyer</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 offset-lg-1 text-center">
                        <img src="{{ asset('build/images/hero/contact.png')}}" width="100%" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Area End -->
        <div class="container-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30913.480294493187!2d-16.9872109597984!3d14.416494404866057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec18a63eecb0611%3A0xb5330d9b8f40db11!2sM&#39;bour!5e0!3m2!1sfr!2ssn!4v1650881261007!5m2!1sfr!2ssn" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>


{% endblock %}