{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" name="description" content="Une identité unique, un langage et des codes graphiques exclusifs. Faites-vous bien remarquer auprès de votre public grâce à un graphisme de type OUAW !">
{% endblock %}

{% block title %} Conception graphique – de votre communication découle votre image{% endblock %}

{% block body %}
    <main>
         <!--? Hero Start -->
        <div class="slider-area-service">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                <div class="hero__caption">
                                    <span>Conception Graphique</span>
                                    <h1 data-animation="fadeInUp" data-delay=".4s">
                                      De votre communication découle votre image
                                    </h1>
                                    <P data-animation="fadeInUp" data-delay=".6s" >
                                        Une identité unique, un langage et des codes graphiques exclusifs.
                                    </P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{{ url('app_devis') }}" class="btn hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Parlons-en !</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                                <!-- about-images -->
                                <div class="service-img">
                                    <img src="{{ asset('build/images/hero/design.png')}}" width="100%" alt="De votre communication découle votre image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? service Area Start -->
        <section class="service-area section-padding30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span></span>
                                <h2>Image de Marque</h2>
                                <p>
                                   Une image vaut 1000 mots. Sans doute ! Mais faudrait-il rendre celle-ci 
                                   facilement descriptible et attrayante. L’image de marque est devenue incontournable 
                                   pour la notoriété. Faites vous bien remarquer auprès de votre public grâce à un graphisme de type OUAW !
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img">
                            <img src="{{ asset('build/images/hero/design-2.png') }}" width="100%" alt="Image de marque est devenue incontournable">
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50 mb-50">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-12">
                                <!-- about-img -->
                                <div class="about-img img-mission">
                                    <img src="{{ asset('build/images/gallery/about1.png') }}" width="300" alt="Processus de la création de vos supports de communication">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="about-caption mb-50">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-35">
                                        <span></span>
                                        <h2>Mission </h2>
                                        <p>
                                            L’équipe de designers de l’agence digitale et de conception 
                                            graphique Universcom vous accompagne pendant tout le processus 
                                            de la création de vos supports de communication. Des flyers avec 
                                            une accroche percutante, un logo qui traduit vos valeurs, des 
                                            cartes de visite exceptionnelles, des mockups qui vous résument 
                                            de manière esthétique votre projet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1>
                                        <strong>
                                           Identité visuelle
                                        </strong></h1>
                                        <p>
                                            <small>
                                            Gardez votre style avec des designs qui couplent parfaitement avec l’ADN de votre marque. 
                                            Nos designers sont des spécialistes dans le branding. Ils vous conseillent, vous accompagnent 
                                            et élaborent avec vous une identité visuelle unique qui va communiquer à votre place.
                                            </small>
                                        </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Illustration</strong></h1>
                                    <p>
                                        <small>
                                            Que serait une marque sans des illustrations originales qui témoignent de ses activités, 
                                            son parcours ou/et sa vision ? Rien ! L’agence digitale et téléservices Universcom prend en 
                                            main votre image. La rendre belle n’est pas l’unique objectif, mais autant communicative que séduisante.
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Packaging</strong></h1>
                                    <p>
                                        <small>
                                           Votre packaging en dit long sur vous. Avec l’expérience acquise, 
                                           les techniques testées et approuvées, Universcom vous aide à présenter 
                                           vos produits sous leurs meilleurs jours. Nous utilisons l’eye tracking 
                                           pour vous proposer un code packaging « capteur d’attention ».
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Motion design</strong></h1>
                                    <p>
                                        <small>
                                           Des vidéos spécifiques avec un storytelling détaillé afin d’engager votre audience 
                                           et de découpler sa confiance en votre marque. Nos motion designers vous façonnent 
                                           des présentations en 2D et 3D qui sauront captiver votre public et le transporter 
                                           vers l’univers de votre marque.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service Area End -->

        <!-- Latest Offers End -->
        <!--? About-2 Area Start -->
         {% include('commun/block_avis_client.html.twig') %}
        <!-- About-2 Area End -->
    </main>


{% endblock %}