{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" name="description" content="La solution adaptée à votre besoin ! Nous sommes spécialisés dans la conception et le développement de solutions sur mesure pour chacune de vos initiatives.">
{% endblock %}
{% block title %}Création de site sur mesure | application hybride | ERP performant {% endblock %}

{% block body %}

    <main>
        <!--? Hero Start -->
        <div class="slider-area-service">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                <div class="hero__caption">
                                     <span>Technologie</span>
                                    <h1 data-animation="fadeInUp" data-delay=".4s">
                                      Nous développions la solution à tous vos maux
                                    </h1>
                                    <P data-animation="fadeInUp" data-delay=".6s" >
                                        Application Web - Mobiles nous avons exactement la solution pour vous.
                                    </P>
                                    <!-- Hero-btn -->
                                     <div class="hero__btn">
                                        <a href="{{ url('app_devis') }}" class="btn hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Parlons-en !</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 mb-50">
                                <!-- about-images -->
                                <div class="service-img">
                                    <img src="{{ asset('build/images/hero/dev.png')}}" width="100%" alt=" Nous développions la solution à tous vos maux">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--? service Area Start -->
        <section class="service-area section-padding30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span></span>
                                <h2>Conception sur mesure</h2>
                                <p>
                                    Vous avez besoin d’exécuter un projet mais l’outil pour le faire vous fait défaut ?
                                    <br>
                                    Nous sommes spécialisés dans la conception et le développement de solutions sur mesure pour chacune de
                                    vos initiatives. Nous faisons le diagnostic de votre activité et vous proposons la solution adaptée à votre besoin.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img">
                            <img src="{{ asset('build/images/gallery/about-d.png') }}" width="100%" alt="Conception et le développement de solutions sur mesure">
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50 mb-50">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-12">
                                <!-- about-img -->
                                <div class="about-img img-mission">
                                    <img src="{{ asset('build/images/gallery/about1.png') }}" width="300" alt="Chef de projet">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="about-caption mb-50">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-35">
                                        <span></span>
                                        <h2>Mission</h2>
                                        <p>
                                            Vous rendre plus efficient, c’est notre but.
                                            Faites moins d’efforts pour plus de résultats et nos solutions feront le reste.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>
                                            Développement Web & Mobile
                                        </strong></h1>
                                    <p>Des solutions informatiques clés en main</p>
                                    <p>
                                        <small>
                                            Nos développeurs sont des chevronnés des applications mobiles et web.
                                            Nous vous proposons des sites web séduisants et digestes, des applications
                                            hybrides ou natives centrées expérience utilisateur, le tout paré aux
                                            toutes dernières technologies.

                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>UX&UI Design</strong></h1>
                                    <p>Des applications incontournables</p>
                                    <p>
                                        <small>
                                            Nos web designers rendent la vie plus facile à vos utilisateurs.
                                            Les interfaces que nous façonnons sont des plus conviviales et
                                            laissent à l’utilisateur une expérience unique avec une interaction
                                            simplifiée. Enfouir une application dans les habitudes, c’est notre mission.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service Area End -->

        <!-- Latest Offers End -->
       <!--? About-2 Area Start -->
         {% include('commun/block_avis_client.html.twig') %}
        <!-- About-2 Area End -->
    </main>


{% endblock %}