{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" name="description" content="Du développement de sites web à la diffusion d’emails, en passant par le référencement, nous mettons toutes les technologies de l’heure en place pour vous positionner de manière efficace sur le digital.">
{% endblock %}
{% block title %}Universcom : Agence de marketing digital et de communication{% endblock %}

{% block body %}

    <main>
        <!-- slider Area Start-->
        <div class="slider-area-service">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                <div class="hero__caption">
                                    <span>Marketing Digital</span>
                                    <h1 data-animation="fadeInUp" data-delay=".4s">Nous orchestrons votre transformation digitale</h1>
                                    <P data-animation="fadeInUp" data-delay=".6s" >
                                        Ensemble nous faisons de votre projet un univers d’ADN digitale.
                                    </P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{{ url('app_devis') }}" class="btn hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Parlons-en !</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                                <!-- about-images -->
                                <div class="service-img">
                                    <img src="{{ asset('build/images/hero/marketing.png')}}" width="100%" alt="Transformation digitale">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        
        <!--? service Area Start -->
        <section class="service-area section-padding30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span></span>
                                <h2>Plus de visibilité ?</h2>
                                <p>
                                    Confiez votre réputation à une génération de digital natives. <br>
                                    Nous sommes l’agence qu’il vous faut ! <br>

                                    Du développement de sites web à la diffusion d’emails, en passant
                                    par le référencement, nous mettons toutes les technologies de l’heure
                                    en place pour vous positionner de manière efficace sur le digital.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img">
                            <img src="{{ asset('build/images/gallery/about-m.png') }}" width="100%" alt="Le web designer de universcom">
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50 mb-50">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-12">
                                <!-- about-img -->
                                <div class="about-img img-mission">
                                    <img src="{{ asset('build/images/gallery/about1.png') }}" width="300" alt="Le spécialiste SEA de univercom">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="about-caption mb-50">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-35">
                                        <span></span>
                                        <h2>Mission </h2>
                                        <p>
                                            A l’ère du tout au tout numérique, nous veillons à vous maintenir
                                            à jour dans un marché rudement concurrentiel. Avec la pléthore de plateformes web,
                                            les milliards de sites marchands et institutionnels qui jonchent internet, nous vous
                                            aidons à vous démarquer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>
                                            La Référencement
                                        </strong></h1>
                                    <p>Faites connaître votre offre</p>
                                    <p>
                                        <small>
                                            Faites-vous trouver! Nos experts SEO/SEA optimisent
                                            votre présence en ligne et vous classent parmi les meilleurs
                                            résultats sur les moteurs de recherche.

                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Content Marketing</strong></h1>
                                    <p>Faites opérer la magie du contenu</p>
                                    <p>
                                        <small>
                                            Notre équipe de content managers élaborent avec vous
                                            une stratégie éditoriale gagnante pour un contenu
                                            qui valorise d’avantage votre entreprise et votre marque.
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Community Management</strong></h1>
                                    <p>Suscitez de l'engagement</p>
                                    <p>
                                        <small>
                                            Votre message au bon moment, au bon endroit
                                            et à la bonne cible, c’est notre affaire. Nous gérons, animons
                                            de façon séduisante vos profils sur les réseaux sociaux et
                                            donnons plus de cachet à votre e-réputation. <br><br>
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Email Marketing</strong></h1>
                                    <p>Personnaliser c’est donner de l’intérêt</p>
                                    <p>
                                        <small>
                                            Pour plus d’impact, Nous traitons chacun de vos contacts avec
                                            une attention particulière. Nos spécialistes en email marketing
                                            vous accompagnent dans l’élaboration de vos campagnes emailing
                                            et augmentent considérablement votre taux de conversion.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service Area End -->

        <!-- Latest Offers End -->
        <!--? About-2 Area Start -->
      {{ include('commun/block_avis_client.html.twig') }}

        <!-- About-2 Area End -->
    </main>


{% endblock %}