{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-50 text-center">
                            <h2>Page Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? service Area Start -->

    <!-- service Area End -->

    <!-- Latest Offers End -->
    <!--? About-2 Area Start -->
    {% include('commun/block_avis_client.html.twig') %}
    <!-- About-2 Area End -->
</main>

{% endblock %}