{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" name="description" content="En support à votre équipe en place pour plus de productivité, nous accélérons votre rendement en répondant précisément au besoin de votre cible et en anticipant sur leurs attentes.">
{% endblock %}
{% block title %} Agence de téléservices | Voulez-vous accroître la confiance de vos clients ?{% endblock %}

{% block body %}

    <main>
         <!--? Hero Start -->
        <div class="slider-area-service">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                <div class="hero__caption">
                                    <span>Téléservices</span>
                                    <h1 data-animation="fadeInUp" data-delay=".4s">
                                      Décuplez  la  confiance de vos clients
                                    </h1>
                                    <P data-animation="fadeInUp" data-delay=".6s" >
                                        Nos conseillers en support à votre équipe en place pour plus de productivité.
                                    </P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{{ url('app_devis') }}" class="btn hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Parlons-en !</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                                <!-- about-images -->
                                <div class="service-img">
                                    <img src="{{ asset('build/images/hero/teleservice.png')}}" width="100%" alt="conseillère clientèle avec des écouteurs">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? service Area Start -->
        <section class="service-area section-padding30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span></span>
                                <h2>Un support 24h/7j</h2>
                                <p>
                                    Dans un monde où la satisfaction client est le fer de lance du succès,
                                    nous vous déchargeons de la gestion relation client. Nous mettons à
                                    votre disposition une équipe multidisciplinaire avec des compétences
                                    rhétoriques distinctes.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img">
                            <img src="{{ asset('build/images/gallery/about-t.png') }}" width="100%" alt="Prospecteur souriant">
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50 mb-50">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-12">
                                <!-- about-img -->
                                <div class="about-img img-mission">
                                    <img src="{{ asset('build/images/gallery/about1.png') }}" width="300" alt="Chef d'équipe">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="about-caption mb-50">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-35">
                                        <span></span>
                                        <h2>Mission </h2>
                                        <p>
                                            Nous accélérons votre rendement en répondant précisément
                                            au besoin de votre cible et en anticipant sur leurs attentes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-50">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>
                                            Téléprospection
                                        </strong></h1>
                                    <p>Constituez un fichier de contacts qualifiés et un agenda de prospection pertinent</p>
                                    <p>
                                        <small>

                                            Nos Chargés de mission prospection établissent des appels
                                            en votre nom en respectant les exigences sociodémographiques de
                                            leurs interlocuteurs et en maîtrisant les aspects techniques
                                            de votre activité. Nos équipes collectent et traitent les
                                            informations qui feront de vos leads des futurs clients.

                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Télé-enquête</strong></h1>
                                    <p>Maîtrisez le marché avec des données certifiées</p>
                                    <p>
                                        <small>
                                            Pour une enquête d’opinion ou évaluation de vos produits et services,
                                            nos équipes ont la finesse d’effectuer des sondages en suivant le
                                            canevas du questionnaire préétabli et sans agacer le contact.
                                            Nos télé-enquêteurs relèvent toutes les remarques ressortant
                                            de l’entretien et vous les transmettent méthodiquement.
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Télévente</strong></h1>
                                    <p>Nous explosons vos ventes avec une équipe commerciale persuasive</p>
                                    <p>
                                        <small>
                                            Notre équipe de télévendeurs constitue un argumentaire de vente plausible adapté aux produits et aux services que vous proposez.
                                            Elle assimile aisément le besoin du contact afin de lui présenter une solution adéquate à sa demande.
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="single-services mb-30 text-center">
                                    <h1><strong>Téléconseil</strong></h1>
                                    <p>A l’ère du numérique, nous vous aidons à dématérialiser</p>
                                    <p>
                                        <small>
                                            Disponible 24/24 h, notre service de téléconseil
                                            apporte toutes les réponses nécessaires à vos contacts.
                                            <br><br><br>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service Area End -->

        <!-- Latest Offers End -->
        <!--? About-2 Area Start -->
         {% include('commun/block_avis_client.html.twig') %}
        <!-- About-2 Area End -->
    </main>


{% endblock %}