<p>
  Prise de rendez vous
</p>
 <p>Nom Complet : {{ name }}</p>
 <p>E-mail : {{ email_contact }}</p>
 <p>Adresse : {{ adresse }}</p>
 <p>Télephone : {{ tel }}</p>
 <p>Date : {{ date}}</p>
 <p>Heure  : {{ heure}}</p>

