<html>
<head>
    <title></title>
    <style>
        .btn-dark{
            background-color: #12B4B1 ;
        }
    </style>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
            rel="stylesheet"
    />
</head>
<body>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<section class="vh-100" style="background-color: #2c4596;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 0 52px 0 52px;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img
                                src="{{ asset('build/images/logo/uc-logo.png') }}"
                                alt="login form"
                                class="img-fluid" style="border-radius: 0 52px 0 52px;"
                            />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="{{ path('login') }}" method="post">

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez-vous à votre compte</h5>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example17">Nom utilisateur</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" name="_password" class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example27">Mot de passe</label>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="pt-1 mb-4">
                                        <button 
                                            class="btn btn-dark btn-lg btn-block" 
                                            type="submit"
                                            style="
                                                background-image: linear-gradient(270deg,#3ebac7,#2c4596,#3ebac7);
                                                background-position: 100%;
                                                background-size: 200%;
                                                border: none;
                                                border-radius: 0 10px;
                                                box-shadow: 0 7px 21px 0 rgb(24 212 245 / 40%);
                                                color: #fff;
                                                cursor: pointer;
                                                display: inline-block;
                                                font-size: 16px;
                                                padding: 18px 43px;
                                                text-transform: capitalize;
                                                transition: .6s;"
                                        
                                        >se connecter</button>
                                    </div>

                                    {#                                            <a href="#!" class="small text-muted">Terms of use.</a>#}
                                    {#                                            <a href="#!" class="small text-muted">Privacy policy</a>#}
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>

</body>
</html>