<!DOCTYPE html>
<html lang="fr">
    <head>

        {% block meta %}
            <meta charset="UTF-8" name="description" content="Des besoins en développement de site web, conception graphique, marketing digital ou même téléservices, UNIVERSCOM est l’agence digitale qu’il vous faut !">
        {% endblock %}
        <title>{% block title %}Universcom - Un accompagnement futuriste dans l'IT{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/logo/logo.svg') }}">
        {# Run `composer require symfony/webpack-encore-css` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}



    </head>
    <body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ asset('build/images/logo/loder.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>

        {% include('commun/menu.html.twig') %}
        {% block body %}{% endblock %}

        {% include('commun/footer.html.twig') %}


        <!-- Scroll Up -->
{#        <div id="back-top" >#}
{#            <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>#}
{#        </div>#}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script type="text/javascript">
        (function() {
            window.sib = { equeue: [], client_key: "mwskwrf1sz3v1dx3wqaykldx" };
            /* OPTIONAL: email to identify request*/
            // window.sib.email_id = 'example@domain.com';
            /* OPTIONAL: to hide the chat on your script uncomment this line (0 = chat hidden; 1 = display chat) */
            // window.sib.display_chat = 0;
            // window.sib.display_logo = 0;
            /* OPTIONAL: to overwrite the default welcome message uncomment this line*/
            // window.sib.custom_welcome_message = 'Hello, how can we help you?';
            /* OPTIONAL: to overwrite the default offline message uncomment this line*/
            // window.sib.custom_offline_message = 'We are currently offline. In order to answer you, please indicate your email in your messages.';
            window.sendinblue = {}; for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) { (function(k) { window.sendinblue[k] = function(){ var arg = Array.prototype.slice.call(arguments); (window.sib[k] || function() { var t = {}; t[k] = arg; window.sib.equeue.push(t);})(arg[0], arg[1], arg[2]);};})(j[i]);}var n = document.createElement("script"),i = document.getElementsByTagName("script")[0]; n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
        })();
    </script>
    </body>
</html>
